<template>
  <v-row justify="center" align="center">
    <v-col md="6">
      <v-card class="pa-5">
        <v-text-field
          v-model="text"
          label="Enter some text"
          @input="inputText"
        ></v-text-field>
      </v-card>
    </v-col>
  </v-row>
</template>


<script>
  export default {
    data: () => ({
      text: '',
    }),

    mounted() {
      this.initTextWatch();
    },

    methods: {
      initTextWatch() {
        window.addEventListener('storage', (e) => {
          if (e.key === 'commonText') {
            this.text = e.newValue;
          }
        });
      },
      inputText() {
        localStorage.setItem('commonText', this.text);
      },
    },
  }
</script>
